<p-table
    [value]="productsType"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
>  
    <ng-template #header>
        <div class="w-full flex items-center justify-center mb-2">
            <p-button (click)="openCreateDialog()" class="p-button-rounded p-button-sm"><i class="pi pi-plus"></i></p-button>
        </div>
        <th>
            <p-columnFilter type="text" field="name" placeholder="Introduce Producto" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
        </th> 
        <tr>
            <th style="width:30%">Image</th>
            <th style="width:30%">Name</th>
            <th style="width:20%">Price</th>
            <th style="width:10%">Edit</th>
            <th style="width:10%">Delete</th>
        </tr>
        
    </ng-template>
    <ng-template #body let-productsType let-i="rowIndex">
        <tr>   
            <td><img [src]="productsType.image" class="w-1 h-1" /></td>
            <td>{{ productsType.name }}  </td>   
            <td>{{ productsType.sellPrice }} €</td>
            <td><p-button (click)="editProduct(productsType)" icon="pi pi-pencil"></p-button></td>
            <td><p-button (click)="deleteProduct(productsType)" icon="pi pi-trash"></p-button></td>
        </tr>
    </ng-template>
</p-table>
<app-picktable [inputData] ="value1()"></app-picktable>

<!-- Edit dialog (PrimeNG p-dialog) -->
<p-dialog  header="Editar Producto" [(visible)]="editingVisible" [modal]="true" [style]="{width: '420px'}" (onHide)="cancelEdit()">
    <div class="p-fluid">
        <div class="field">
            <label for="ename">Nombre</label>
            <input id="ename" pInputText [value]=selectedProduct.name />
        </div>
        <div class="field">
            <label for="eimage">Imagen (URL)</label>
            <input id="eimage" pInputText [value]=selectedProduct.image/>
        </div>
        <p-button label="Guardar" icon="pi pi-check" (click)="saveEdit()"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" class="p-button-secondary ml-2" (click)="cancelEdit()"></p-button>
     </div>
</p-dialog>

<!-- Create dialog (PrimeNG p-dialog) -->
<p-dialog header="Crear Producto" [(visible)]="createVisible" [modal]="true" [style]="{width: '420px'}" (onHide)="cancelCreate()">
    <div class="p-fluid">
        <div class="field">
            <label for="cname">Nombre </label>
            <input id="cname" pInputText [value]="" />
        </div>
        <div class="field">
            <label for="cimage">Imagen (URL) </label>
            <input id="cimage" pInputText [value]="" />
        </div>
        <div class="field">
            <label for="cdesc">Description </label>
            <input id="cdesc" pInputText [value]="" />
        </div>
        <div class="field">
            <label for="cnumber">Sell Price</label>
            <input id="cnumber" pInputText [value]="" />
        </div>     
        <app-picktable [inputData] ="value1()" (outputData)="mover($event)"></app-picktable>
      
        <p-button label="Crear" icon="pi pi-plus" (click)="saveCreate()"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" class="p-button-secondary ml-2" (click)="cancelCreate()"></p-button>
        
    </div>
</p-dialog>
<!-- dialogo de confirmar la eliminacion-->
<div class="card flex flex-col md:flex-row gap-4">
    <p-tree [value]="value1()" class="flex-1 border border-surface rounded-lg" [draggableNodes]="true" [droppableNodes]="true" draggableScope="first" droppableScope="second">
        <ng-template #empty> No Items Left </ng-template>
    </p-tree>
    <p-tree [value]="value2()" class="flex-1 border border-surface rounded-lg" [draggableNodes]="true" [droppableNodes]="true" draggableScope="second" droppableScope="first">
        <ng-template #empty> Drag Nodes Here </ng-template>
    </p-tree>
</div>
