<div class="flex flex-col md:flex-row">
    <div class="w-full w-5/12 flex flex-col items-center justify-center gap-3 py-5">
        <app-message [message] = "message"></app-message>
        <form [formGroup]="profileForm">
        <app-input-username [(email)] = "username" (validation)="emailValid = isEmailValid($event)"></app-input-username>
        <app-input-passwd  [(password)] = "password" (validation)="passwordValid = isPasswordlValid($event)"> </app-input-passwd>
        <div class="flex">
            <p-button (click)="onLoginClicked()" [disabled]="!(emailValid && passwordValid)" label="Login" icon="pi pi-bitcoin" class="w-full max-w-[17.35rem]"
                    styleClass="w-full mx-auto" />
        </div>
        </form>
    </div>
</div>